<a href="https://colab.research.google.com/github/qyn08/PenambanganDataC-/blob/main/Tugas_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama  : Muhammad Ainul Yaqin

NIM    : 190411100065

Kelas : Penambangan Data C

1. Tipe Data

Dalam penambangan data, terdapat sebuah ciri khas atau sifat yang dimiliki untuk mudah dikenali dan dipelajari. Ciri khas atau sifat biasa disebut dengan **Atribut**. Atribut sendiri memiliki banyak macam, diantaranya : Atribut Nominal, Atribut Biner, Atribut ordinal, Atribut Numerik, dan Atribut Skala Ratio. 

- Atribut nominal sering disebut dengan **kategori**, karena bersifat menglasifikasi sebuah objek. Namun, atribut nominal tidak memiliki satuan atau paramater. Misal, status perkawinan (Lajang, Kawin, Cerai Hidup, Cerai Mati).

- Atribut biner sama halnya dengan angka biner, yakni terdiri dari 0 dan 1. Artinya, atribut biner hanya berisi 2 nilai, antara iya atau tidak, lulus atau tidak lulus, dll.

- Atribut ordinal adalah sebuah pengurutan. Dimana nilai atribut ordinal pasti memiliki nilai yang bertingkat ataupun menurun, dimana tidak ada acuan pasti dari nilai itu sendiri. Misal, sangat buruk - buruk - cukup - baik - sangat baik. 

- Atribut numerik, sebuah atribut yang berbeda dari 3 atribut sebelumnya. Atribut numerik memiliki sebuah nilai pasti yang dapat diketahui. Misal, suhu 20 derajat dengan suhu 15 derajat, tahun kelahiran (2001 -2005), dll.

- Atribut skala ratio, sebuah atribut yang dimulai dari 0. Mirip dengan atribut numerik, dimana satuan atau paramaternya pasti diketahui. Namun, atribut skala ratio selalu dapat dihitung dengan dimulai dari 0.

2. Data

In [6]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
import pandas as pd
 
df = pd.read_csv("mydata.csv")
print(df)

            Prodi;Usia;IPK;Lulus;predikat
0            Informatika;20;03.07;Ya;baik
1  Sistem Informasi;18;02.06;Tidak;kurang
2           Teknik Industri;20;3;Ya;cukup
3           Informatika;19;03.01;Ya;cukup
4            Informatika;23;03.05;Ya;baik
5       Teknik Industri;22;03.02;Ya;cukup
6   Sistem Informasi;24;03.03;Tidak;cukup
7  Sistem Informasi;19;02.08;Tidak;kurang
8            Informatika;20;03.05;Ya;baik
9      Teknik Industri;21;03.02;Ya;kurang

3. Source Code Python

In [11]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [12]:
train = 'mydata.csv'
test = pd.read_csv(train)
print(test)

            Prodi;Usia;IPK;Lulus;predikat
0            Informatika;20;03.07;Ya;baik
1  Sistem Informasi;18;02.06;Tidak;kurang
2           Teknik Industri;20;3;Ya;cukup
3           Informatika;19;03.01;Ya;cukup
4            Informatika;23;03.05;Ya;baik
5       Teknik Industri;22;03.02;Ya;cukup
6   Sistem Informasi;24;03.03;Tidak;cukup
7  Sistem Informasi;19;02.08;Tidak;kurang
8            Informatika;20;03.05;Ya;baik
9      Teknik Industri;21;03.02;Ya;kurang

In [13]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 1 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Prodi;Usia;IPK;Lulus;predikat  10 non-null     object
dtypes: object(1)
memory usage: 208.0+ bytes

In [14]:
test.describe()

       Prodi;Usia;IPK;Lulus;predikat
count                             10
unique                            10
top     Informatika;20;03.07;Ya;baik
freq                               1

In [15]:
test.isnull().sum()

Prodi;Usia;IPK;Lulus;predikat    0
dtype: int64