#UTS Penambangan Data

## IMPORT Data

In [ ]:
import pandas as pd

In [ ]:
url = 'https://raw.githubusercontent.com/kb22/Heart-Disease-Prediction/master/dataset.csv'
df = pd.read_csv(url,encoding='unicode_escape')

In [ ]:
df.head()

,ï»¿age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ï»¿age    303 non-null    int64
 1   sex       303 non-null    int64
 2   trestbps  303 non-null    int64
 3   chol      303 non-null    int64
 4   thalach   303 non-null    int64
 5   oldpeak   303 non-null    float64
 6   slope     303 non-null    int64
 7   ca        303 non-null    int64
dtypes: float64(1), int64(7)
memory usage: 19.1 KB

In [ ]:
#menentukan variabel independen
del df['target']

In [ ]:
from sklear_preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x_train)

x_train=scaler.transformers

NameError: ignored